import { defineConfig } from "vitest/config";

export default defineConfig({
    test: {
        globalSetup: ["./vitest.setup.ts"],
        reporters: ["verbose"],
        environment: "node",
        exclude: ["node_modules", "dist", ".idea", ".git", ".cache", "tmp", "**/tmp/**", "**/*.tmp"],
        typecheck: {
            enabled: true,
            ignoreSourceErrors: true,
        },
    },
});